Flask==3.0.3
flask-cors==4.0.1
waitress==3.0.0
gunicorn==21.2.0
python-dotenv==1.0.1
requests==2.32.3
pydantic==2.11.1
pydantic-core==2.33.0
tiktoken==0.7.0
beautifulsoup4==4.12.3
apscheduler==3.10.4













